/* Usar una fuente moderna y legible */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.points-container {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    margin-bottom: 40px;
}

.user-points {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffa500; /* Dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contenedor de trofeos */
.trophy-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.trophy {
    flex: 1;
    margin: 10px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trophy:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.trophy-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

/* Colores para cada tipo de medalla y título */
.gold h3, .gold .trophy-icon {
    color: #ffd700; /* Dorado */
}

.silver h3, .silver .trophy-icon {
    color: #c0c0c0; /* Plateado */
}

.bronze h3, .bronze .trophy-icon {
    color: #cd7f32; /* Bronceado */
}

/* Mantener el color de la descripción por defecto */
.trophy p {
    color: #666; /* Color por defecto para la descripción */
    font-size: 16px;
}

.hamburger-menu {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    height: 100%;
    width: 250px;
    background-color: #333;
    padding-top: 60px;
    z-index: 1;
    transition: left 0.3s ease; 
}

.sidebar-menu.active {
    left: 0; 
}


.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu ul li {
    padding: 8px;
    text-align: center;
}

.sidebar-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar-menu ul li a:hover {
    background-color: #575757;
}


#points-content {
    text-align: center;
    padding: 20px;
}

.close-button {
    cursor: pointer;
    padding: 8px 10px;
    color: #fff;
    font-size: 20px;
}

.close-button:hover {
    background-color: #333;
}
