.hamburger-menu {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

#sidebar-menu {
  display: none;
}

#points-content {
  text-align: center;
  padding: 20px;
}

.close-button {
  cursor: pointer;
  padding: 8px 10px;
  color: #fff;
  font-size: 50px;
}

.close-button:hover {
  background-color: #333;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.bg-indigo-100 {
  background-color: #edf2f7;
}

.w-screen {
  width: 100vw;
}

.min-h-screen {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.w-full {
  width: 100%;
}

.pl-5 {
  padding-left: 1.25rem;
}

.lg\:pl-2 {
  padding-left: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.lg\:text-4xl {
  font-size: 2.25rem;
}

.text-gray-700 {
  color: #4a5568;
}

.font-extrabold {
  font-weight: 800;
}

.md\:w-1\/2 {
  width: 50%;
}

.lg\:w-1\/4 {
  width: 25%;
}

.pr-5 {
  padding-right: 1.25rem;
}

.lg\:pr-2 {
  padding-right: 0.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.bg-white {
  background-color: #ffffff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.transform {
  transform: translateY(0);
}

.hover\:translate-y-2:hover {
  transform: translateY(-0.5rem);
}

.hover\:shadow-xl:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.transition {
  transition-property: all;
}

.duration-300 {
  transition-duration: 300ms;
}

.figure {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1.25rem;
  margin-right: 0.5rem;
}

.h-64 {
  height: 16rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.leading-none {
  line-height: 1;
}

.text-white {
  color: black;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-400 {
  color: #cbd5e0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.text-lg {
  font-size: 1.125rem;
}

.font-light {
  font-weight: 300;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-purple-900 {
  background-color: #FAAD44;
}

.text-purple-900 {
  color:#FAAD44;
}

.hover\:bg-white:hover {
  background-color: #ffffff;
}

.hover\:text-purple-900:hover {
  color: #FAAD44;
}

/* General hover effect for all cards */
.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s;
}

/* Specific hover effect for TimeMaster */
#card-timemaster:hover {
  box-shadow: 0 20px 25px -5px rgba(250, 173, 68, 0.3), 0 10px 10px -5px rgba(250, 173, 68, 0.22);
}

/* Specific hover effect for ScoreSensei */
#card-scoresensei:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 123, 255, 0.2), 0 10px 10px -5px rgba(0, 123, 255, 0.22);
}

/* Specific hover effect for Immortalizer */
#card-immortalizer:hover {
  box-shadow: 0 20px 25px -5px rgba(255, 0, 0, 0.2), 0 10px 10px -5px rgba(255, 0, 0, 0.22);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.m-auto {
  margin: auto;
}

.stroke-current {
  stroke: currentColor;
}

.w-24 {
  width: 6rem;
}

.h-24 {
  height: 6rem;
}

/* Existing styles remain unchanged */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#points-content {
  text-align: center;
  padding: 20px;
}

.close-button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #FAAD44; 
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.close-button:hover {
  background-color: #FAAD44;
  box-shadow: 0 5px 15px rgba(250, 173, 68, 0.5);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body button {
  margin: 10px;
}

.add-button {
  border-radius: 50%; 
  border: none; 
  cursor: pointer; 
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
  margin-left: auto; 
}

#card-timemaster .add-button {
  background-color: #FAAD44; 
  color: #FFFFFF;
}

#card-scoresensei .add-button {
  background-color: #73C8F0; 
  color: #FFFFFF;
}

#card-immortalizer .add-button {
  background-color: #FD4746;
  color: #FFFFFF;
}

#card-timemaster .add-button:hover {
  color: #FAAD44; 
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(250, 173, 68, 0.5); 
}

#card-scoresensei .add-button:hover {
  color: #73C8F0; 
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5); 
}

#card-immortalizer .add-button:hover {
  color: #FD4746; 
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); 
}

#user-points {
  position: fixed; 
  top: 20px; 
  right: 50px; 
  background-color: #FAAD44; 
  color: #000; 
  font-weight: bold; 
  padding: 15px 20px; 
  border-radius: 5px; 
  z-index: 9999; 
  font-family: 'Roboto', sans-serif;
}

#redeem-button {
  padding: 10px 15px;
  margin: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #4a5568;
  background-color: #F5F5F5;
  border: 2px solid #CCC;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  white-space: nowrap;
}

#redeem-button:hover {
  background-color: #E0E0E0;
  color: #4a5568;
  scale: 1.1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
