* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #333 url('../images/fons.png') no-repeat center top / cover;
    color: #fff;
    font-family: Arial, sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#initial-page {
    position: relative;
    display: block;
    margin: 150px auto 0;
    animation: fadeIn 1.5s ease;
    text-align: center;
}

.title {
    color: #FFF;
    font-size: 75px;
    margin-top: 100px;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 0 0 10px #FAAD44, 0 0 20px #FAAD44, 0 0 30px #FAAD44;
}

#buttons-container {
    width: 400px;
    height: 50px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    background-color: #FAAD44;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

button:hover {
    color: #FAAD44;
    background-color: #fff;
    border-color: #FAAD44;
    transform: scale(1.1);
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #000;
}

#canvas {
    width: 590px;
    height: 400px;
    display: block;
    margin: 50px auto 0;
    background-color: #000;
}

#game-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score,
#timer {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FAAD44;
    border: 2px solid transparent;
    border-radius: 5px;
}

#lives {
    display: flex;
    align-items: center;
}

.life-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    color: #FAAD44; /* Cambiar el color a naranja */
}

#info {
    position: absolute;
    top: 27%;
    right: 0;
    margin: 0 15px;
    padding: 10px;
    color: #000;
    background-color: #99C6F6;
    font-size: 18px;
    border-radius: 5px;
}

#points-count {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 75px;
    padding: 10px;
    color: #000;
    background-color: #FAAD44;
    font-size: 20px;
    border-radius: 5px;
}

#legend-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.brick {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.brick.blue {
    background-color: #4F9FF5;
}

.brick.green {
    background-color: #83DD99;
}

.brick.pink {
    background-color: #F85D98;
}

.brick.orange {
    background-color: #FAAD44;
}

.brick.purple {
    background-color: #A786EB;
}

.legend-item:last-child {
    margin-bottom: 0;
}

.full-heart::before {
    content: "\f004"; /* Unicode del corazón lleno en Font Awesome */
}

.empty-heart::before {
    content: "\f004"; /* Unicode del corazón vacío en Font Awesome */
    color: #ccc; /* Color gris para el corazón vacío */
}


/* Ajustar tamaño de los corazones */
.life-icon {
    width: 30px;
    height: 30px;
    font-size: 24px; /* Tamaño del icono */
    transition: transform 0.3s ease; /* Agregar una transición suave */
}

/* Agregar efecto de transición al color del corazón */
.life-icon.full-heart {
    color: #FAAD44; /* Color naranja para el corazón lleno */
    transition: color 0.3s ease; /* Agregar una transición suave */
}