/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #333 url('../images/fons.png') no-repeat center top / cover;
    color: #fff;
    font-family: 'Roboto', sans-serif; /* Fuente principal */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#initial-page {
    position: relative;
    display: block;
    margin: 250px auto 0;
    animation: fadeIn 1.5s ease;
    text-align: center;
}

.title {
    color: #FFF;
    font-size: 75px;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif; /* Fuente para títulos */
    text-shadow: 0 0 10px #FAAD44, 0 0 20px #FAAD44, 0 0 30px #FAAD44;
}

#buttons-container {
    width: 400px;
    height: 50px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; /* Fuente para botones */
    font-weight: bold;
    cursor: pointer;
    color: #000;
    background-color: #FAAD44;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

button:hover {
    color: #FAAD44;
    background-color: #fff;
    border-color: #FAAD44;
    transform: scale(1.1);
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif; /* Fuente para el contenido principal */
    font-weight: bold;
    color: #000;
}

#canvas {
    width: 590px;
    height: 400px;
    display: block;
    margin: 50px auto 0;
    background-color: #000;
}

#text {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif; /* Fuente para texto */
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#game-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score,
#timer {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FAAD44;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; /* Fuente para marcador y temporizador */
}

#lives {
    display: flex;
    align-items: center;
}

.life-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    color: #FAAD44;
}

#points-count {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 75px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif; /* Fuente para conteo de puntos */
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
}

#legend-container {
    position: absolute;
    top: 20%;
    right: 13px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif; /* Fuente para leyenda */
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.brick {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #FFF;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

.brick.blue { background-color: #4F9FF5; }
.brick.green { background-color: #83DD99; }
.brick.pink { background-color: #F85D98; }
.brick.orange { background-color: #FAAD44; }
.brick.purple { background-color: #A786EB; }

.full-heart::before {
    content: "\f004";
}

.empty-heart::before {
    content: "\f08a";
    color: #ccc;
}

.life-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 29px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-style: normal;
}

.life-icon.full-heart {
    color: #FAAD44;
    transition: color 0.3s ease;
}

.end-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.end-page.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-page .title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; /* Fuente para títulos */
}

.end-page p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif; /* Fuente para párrafos */
}

.end-page .buttons-container {
    display: flex;
    justify-content: center;
}
