* { padding: 0; margin: 0; }

body {
    text-align: center;
    background: #333 url('../images/images/20151006051016_votacion-estrellas-css.jpg');
	color: #eee;
    background-size: cover;
}

#principal {
	width: 960px;
	margin: 20px auto;
	padding: 20px;
}

#canvas {
	position: relative;
	margin-top: 40px;
	width: 740px;
	height: 400px;
	background: rgba(232, 232, 232, 0.5);
	display: block;
	margin: 0 auto;
}

#start,
#end {
	position: absolute;
	left: 275px;
	top: 50px;
	width: 400px;
	height: 300px;
	margin: 200px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	text-align: center;
	border: thick #990 solid;
	border-radius: 25px;
	background-color: #cfc;
	opacity: 0.9;
}

.right {
	text-align: right;
}

#game {
	background-color: #eee;
	/* light gray color */
	border: 50px solid #666;
	border-bottom-width: 0;
	display: block;
	margin: 0 auto;
}

#header {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	background-color: #a3a352;
	height: 200px;
	border-radius: 25px;
}